<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>               
                Welcome to Cinemas The BESTia            
            </h1>
        </div>
    </div>
</div>
