@{
    ViewData["Title"] = "Closing...";
}

<h2>Closing...</h2>

<script>
    window.addEventListener('load', () => {
        setTimeout(() => {
            window.location.href = '/'
        }, 1000)
    })
</script>

