
@{
    ViewData["Title"] = "Booking";
}


<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading ">Confirm Purchase</div>
    <div class="panel-body">
        <div class="row text-center">
            <h2  class="text-success">Payment successfully</h2>
        </div>
    </div>
</div>



<div class="clearfix"></div>
<div class="row clearfix">
    <a asp-action="Index" asp-controller="Movies"><i class="glyphicon glyphicon-home"></i> Back to List</a>
</div>

